[submodule "Advanced-Data-Structures-lab_1"]
	path = Advanced-Data-Structures-lab_1
	url = https://github.com/predutalexia/Advanced-Data-Structures-lab_1.git
[submodule "Advanced-Data-Structures-lab_2"]
	path = Advanced-Data-Structures-lab_2
	url = https://github.com/predutalexia/Advanced-Data-Structures-lab_2.git
[submodule "Advanced-Data-Structures-lab_3"]
	path = Advanced-Data-Structures-lab_3
	url = https://github.com/predutalexia/Advanced-Data-Structures-lab_3.git
[submodule "Advanced-Data-Structures-lab_4"]
	path = Advanced-Data-Structures-lab_4
	url = https://github.com/predutalexia/Advanced-Data-Structures-lab_4.git
[submodule "Advanced-Data-Structures-lab_5"]
	path = Advanced-Data-Structures-lab_5
	url = https://github.com/predutalexia/Advanced-Data-Structures-lab_5.git
[submodule "lab9/Advanced-Data-Structures-lab_8"]
	path = lab9/Advanced-Data-Structures-lab_8
	url = https://github.com/predutalexia/Advanced-Data-Structures-lab_8.git
[submodule "Advanced-Data-Structures-lab_8"]
	path = Advanced-Data-Structures-lab_8
	url = https://github.com/predutalexia/Advanced-Data-Structures-lab_8.git
